
@font-face {
        font-family: 'Helvetica';
        src: url("./font/HelveticaLTStd-Roman.otf") format("opentype");

        font-family: 'Helvetica-Light';
        src: url("./font/HelveticaLTStd-Roman.otf") format("opentype");

        font-family: 'Helvetica-Bold';
        src: url("./font/HelveticaLTStd-Bold.otf") format("opentype");
}

body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
}
